 /* #card {
    box-sizing: border-box;
    padding-bottom: 20px;
    background: #fff;
    position: relative;
    margin:auto;
    border: none;
    transition: all 0.3s ease;
    border-radius: 15px !important;
    top: 0;
    box-shadow: 0px 0px 0px 2px rgb(46 35 94 / 7%); 
  } */
  
  .fpo {
      position: relative;
      margin: 25% auto;
      display: block;
  }
  .pulsate{ 
    background: linear-gradient(-45deg, #DDDDDD, #F0F0F0, #DDDDDD, #F0F0F0);
      background-size: 400% 400%;
      -webkit-animation: Gradient 2.25s ease infinite;
      -moz-animation: Gradient 2.25s ease infinite;
      animation: Gradient 2.25s ease infinite;
  }
  .block {
    display:block;
    width:271px;
    height:16px;
    color: black;
  }
  .block2 {
    width:78px;
    height:8px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .block3 {
    width:131px;
    height:8px;
    margin-bottom:16px;
  }
  .circle {
    width:58px;
    height:58px;
    border-radius:50%;
    margin-right: 10px;
  }

  .card-image {
    box-sizing: border-box;
    display:block;
    background:#FAFAFA;
    padding:16px;
  }
  .card-content {
    clear:both;
    box-sizing: border-box;
    /* padding:16px; */
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background:#fff;
  }
  @-webkit-keyframes Gradient {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes Gradient {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes Gradient {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }





/*.card-loader {
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .08), 0 -1px 3px 0 rgba(0, 0, 0, 0.06);
    padding: 8px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 0;
    height: 500px;
    overflow: hidden;
}
.card-loader:only-child {
    margin-top: 0;
}
.card-loader:before {
    content: '';
    height: 400px;
    display: block;
    background-color: #ededed;
    margin-top: 70px;
    box-shadow: -187px -220px 0px -188px #ededed, -187px -255px 0 -188px #ededed;   
}
.card-loader:after {
    content: '';
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1);
}
@keyframes loader-animate {
    0% {
        transform: translate3d(-100%, 0, 0);
   }
    100% {
        transform: translate3d(100%, 0, 0);
   }
}*/


/* 
.card {
    background: #fff;
    position: relative;
    border-radius: 0;
    overflow: hidden;
}
.card--skeleton::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.9), transparent);
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    animation: loading 1s infinite;
}
.card--skeleton .img-cont {
    background: #eee;
}
.card--skeleton .user-avatar-cont {
    background: #eee;
}
.card--skeleton .user-name span, .card--skeleton .user-profession span {
    background: #eee;
    color: #eee;
    border-radius: 5px;
}
.card .img-cont {
    height: 30rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    overflow: hidden;
}
.card .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-info .user-avatar-cont {
    height: 58px;
    width: 58px;
    margin-right: 2rem;
    border-radius: 50rem;
    overflow: hidden;
}
.user-info .user-avatar-cont .user-avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-details .user-name {
    font-size: 2.2rem;
    margin-bottom: 5px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.user-details .user-profession {
    font-size: 1.3rem;
    color: #999;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
@keyframes loading {
    0% {
        transform: skewX(-10deg) translateX(-100%);
   }
    100% {
        transform: skewX(-10deg) translateX(200%);
   }
} */
