<div class="card">
    <div class="card-body">
        <div class="row grid gallery" id="aniimated-thumbnials" itemscope="" data-pswp-uid="1" style="justify-content: left !important;">
            <ng-container *ngFor="let post of posts">
                <!-- <figure class="col-md-4 col-sm-6 grid-item" itemprop="associatedMedia" itemscope="" > -->
                <figure class="col-xl-4 col-md-4 col-4 grid-item" itemprop="associatedMedia" itemscope="" >
                    <a href="{{ post.imageURL }}" itemprop="contentUrl" data-size="1600x950">
                        <img src="{{ post.imageURL }}" itemprop="thumbnail" alt="Image description" />
                    </a>
                </figure> 
            </ng-container>
        </div>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp.-->
    <!-- <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div> -->
</div>
