
<!-- CONTAINER -->
<div class="container-fluid">
    <div class="user-profile social-app-profile">
        <div class="tab-content" id="top-tabContent">
            <!-- TIMELINE -->
                <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline">
                    <div class="row">
                        <div class="col-xl-4 xl-60 col-lg-12 col-md-7 box-col-8e">
                            <!-- <div *ngIf="spinner | async" style="display: grid; place-content: center;">
                                <div class="spinner"></div>
                            </div> -->
                            <ng-container *ngIf="spinner | async">
                                <div class="wrapper">
                                    <app-posts-loaders></app-posts-loaders>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="posts.length > 0; else postEmpty">
                                <app-posts [posts]="posts" (eventGotoProfile)="goPostToProfile($event)" ></app-posts>
                            </ng-container>
                            <ng-template #postEmpty>
                                <ng-container *ngIf="!spinner">
                                    <app-emptyalert></app-emptyalert>
                                </ng-container>
                            </ng-template>
                        </div>
                        <div class="col-xl-3 xl-40 col-lg-12 col-md-5 box-col-4">
                            <div class="default-according style-1 faq-accordion">
                                <div class="card">
                                    <ng-container *ngIf="spinner | async">
                                        <app-card-info-user></app-card-info-user>
                                    </ng-container>
                                    <app-carduser *ngIf="user" [currentUser]= 'user' [routerLinkActive]="['active']" (eventUser)="goToProfile($event)"></app-carduser>
                                </div>
                                <div class="card">
                                    <app-loader-contacts></app-loader-contacts>
                                    <!-- <app-contacts></app-contacts> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- / END TIMELINE -->

            <!-- PHOTOS -->
                <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos">
                    <div class="row">
                    <div class="col-sm-12">
                        <app-photos></app-photos>
                    </div>
                    </div>
                </div>
            <!-- / END PHOTOS -->

            <!-- FRIENDS -->
                <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends">
                    <app-friends></app-friends>
                </div>
            <!-- / END FRIENDS -->
        </div>
    </div>
</div>
<!-- / END CONTAINER -->