
<!-- CONTAINER -->
<div class="container">
    <div class="user-profile social-app-profile">
        <div class="tab-content" id="top-tabContent">
            <!-- TIMELINE -->
                <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline">
                    <div class="row">
                        <!--------------- 
                        - Feed posts
                        ---------------->
                            <div class="col-xl-6 xl-60 col-lg-12 col-md-7 box-col-8e">
                                <ng-container *ngIf="this.spinner |async">
                                    <app-spinner></app-spinner>
                                </ng-container>
                                <ng-container *ngIf="this.posts.length > 0">
                                    <app-posts [posts]="posts" (eventGotoProfile)="goPostToProfile($event)" ></app-posts>
                                </ng-container>
                            </div>
                        <!---------------- 
                        - Feed posts
                        ----------------->

                        <!---------------------------------- 
                        - Feed card user && list contact
                        ----------------------------------->
                            <div class="col-xl-3 xl-40 col-lg-12 col-md-5 box-col-4">
                                <div class="default-according style-1 faq-accordion">
                                    <!-- Info current user -->
                                    <div class="card">
                                        <app-carduser *ngIf="user" [currentUser]= 'user' [routerLinkActive]="['active']" (eventUser)="goToProfile($event)"></app-carduser>
                                    </div>
                                    <!-- Info current user end -->

                                    <!-- List contacts -->
                                    <div class="card">
                                        <app-contacts *ngIf="user"></app-contacts>
                                    </div>
                                    <!-- List contacts end -->
                                </div>
                            </div> 
                        <!-----------------------------------
                        - Feed card user && list contact end
                        ------------------------------------->
                    </div>
                </div>
            <!-- / END TIMELINE -->

            <!-- PHOTOS -->
                <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos">
                    <div class="row">
                    <div class="col-sm-12">
                        <app-photos></app-photos>
                    </div>
                    </div>
                </div>
            <!-- / END PHOTOS -->

            <!-- FRIENDS -->
                <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends">
                    <app-friends></app-friends>
                </div>
            <!-- / END FRIENDS -->
        </div>
    </div>
</div>
<!-- / END CONTAINER -->