<link
  rel="stylesheet"
  [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)"
/>
<div class="input-box">
  <h2 class="_aahw">Regístrate para ver fotos y vídeos de tus amigos.</h2>
</div>

<div class="input-box" style="margin: 10px 40px 18px">
  <button class="_acan _acap _acas _aj1-" type="button">
    <span class="_9zlu _aah_"></span>Iniciar sesión con Facebook
  </button>
</div>

<div class="input-box">
  <input
    (input)="checkEmailOrPhone($event)"
    type="text"
    id="email"
    aria-describedby=""
    placeholder="Número de movil o correo electrónico"
    aria-required="true"
    maxlength="30"
    autocapitalize="off"
    autocorrect="off"
    name="email"
    value=""
    #email
    required
  />
</div>

<div class="input-box">
  <input
    type="text"
    id="fullname"
    aria-describedby=""
    placeholder="Nombre completo"
    aria-required="true"
    maxlength="30"
    autocapitalize="off"
    autocorrect="off"
    name="fullname"
    value=""
    #fullname
    required
  />
</div>

<div class="input-box">
  <input
    type="text"
    id="username"
    aria-describedby=""
    placeholder="Nombre de usuario"
    aria-required="true"
    maxlength="30"
    autocapitalize="off"
    autocorrect="off"
    name="username"
    value=""
    #userName
    required
  />
</div>

<div class="input-box">
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Contraseña"
    aria-describedby=""
    maxlength="30"
    aria-required="true"
    autocapitalize="off"
    autocorrect="off"
    #password
    required
  />
</div>

<p class="_aai1">
  <span
    class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd xo1l8bm x1roi4f4 x1s3etm8 x676frb x10wh9bi x1wdrske x8viiok x18hxmgj"
    style="
      line-height: var(--base-line-clamp-line-height);
      --base-line-clamp-line-height: 16px;
    "
  >
    Al registrarte, aceptas nuestras
    <a
      class="forgot x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
      href="https://help.instagram.com/581066165581870/?locale=es_ES"
      role="link"
      tabindex="0"
      target="_blank"
    >
      Condiciones
    </a>
    . Obtén más información sobre cómo recopilamos, usamos y compartimos tu
    información en la
    <a
      class="forgot"
      href="https://www.facebook.com/privacy/policy"
      rel="nofollow noopener"
      role="link"
      tabindex="0"
      target="_blank"
    >
      Política de privacidad </a
    >, así como el uso que hacemos de las cookies y tecnologías similares en
    nuestra
    <a
      class="forgot"
      href="/legal/cookies/"
      role="link"
      tabindex="0"
      target="_blank"
    >
      Política de cookies </a
    >.
  </span>
</p>

<span class="button-box">
  <button
    class="btn"
    type="submit"
    [disabled]="btnState"
    name="submit"
    (click)="showBirthday(userName.value, password.value)"
  >
    <span>Continuar</span>
  </button>
</span>

<!-- 
  Los nombres de usuario solo pueden contener letras, números, guiones bajos y puntos.
 -->
