<span id="root">
    <section class="section-all">
        <!-- 1-Role Main -->
        <main class="main" role="main">
            <!-- Wrapper -->
            <div class="wrapper">
                <!-- <form action="" method="get" class="formulario"> -->
                <ng-container *ngIf="this.showDataUsername">
                    <app-account (sigInEvent)="sigIn($event)" (showBirthdayEvent)="showBirthday($event)"></app-account>
                </ng-container>

                <ng-container *ngIf="this.showBirthDay">
                    <app-birthday></app-birthday>
                </ng-container>

                <ng-container *ngIf="this.showCodePhone">
                    <app-codephone></app-codephone>
                </ng-container>
            </div>
            <!-- Wrapper end -->
        </main>
        <!-- Main -->

        <!-- Footer container -->
        <footer class="footer" role="contentinfo">
            <ng-container>
                <app-footerlogin></app-footerlogin>
            </ng-container>
        </footer>
        <!-- Footer container end -->
    </section>
</span>
<!-- Root -->
