<span id="root">
  <section class="section-all">
    <!-- 1-Role Main -->
    <main class="main" role="main">
      <!-- Wrapper -->
      <div class="wrapper">
        <article class="article">
          <div class="content">
            <div class="login-box">
              <div class="header">
                <img
                  class="logo"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
                  alt="Instagram"
                />
              </div>
              <!-- Header end -->
              <div class="form-wrap">
                <form class="form">
                  <app-account></app-account>
                </form>
              </div>
            </div>

            <div class="login-box">
              <p class="text">
                ¿Tienes una cuenta?<a (click)="sigIn($event)">Entrar</a>
              </p>
            </div>
            <!-- Signup-box end -->

            <div class="app">
              <p>Descarga la aplicación.</p>
              <div class="app-img">
                <a
                  href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8"
                >
                  <img
                    src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/4b70f6fae447.png"
                  />
                </a>
                <a
                  href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26utm_medium%3Dbadge"
                >
                  <img
                    src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/f06b908907d5.png"
                  />
                </a>
              </div>
              <!-- App-img end-->
            </div>
            <!-- App end -->
          </div>
        </article>

        <!--
        <ng-container *ngIf="this.showDataUsername">
          <app-account
            (sigInEvent)="sigIn($event)"
            (showBirthdayEvent)="showBirthday($event)"
          ></app-account>
        </ng-container>
        -->

        <!---
        <ng-container *ngIf="this.showBirthDay">
          <app-birthday
            (showCodePhoneEvent)="showViewCodePhone($event)"
          ></app-birthday>
        </ng-container>
        -->

        <!--
        <ng-container *ngIf="this.showCodePhone">
          <app-codephone (loginEvent)="sigIn($event)"></app-codephone>
        </ng-container>
        -->
      </div>
      <!-- Wrapper end -->
    </main>
    <!-- Main end -->

    <!-- Footer container -->
    <footer class="footer" role="contentinfo">
      <ng-container>
        <app-footerlogin></app-footerlogin>
      </ng-container>
    </footer>
    <!-- Footer container end -->
  </section>
</span>
<!-- Root -->
