<h2 class="_happyh2">Añade una foto de perfil</h2>

<div class="box-title-happy">
    <span class="_span">Muestra tu foto de perfil al público.</span>
</div>

<!-- input type file -->
    <div class="input-box">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input 
                #photoURL
                type='file'
                id="photoURL"
                name="photoURL"
                accept="image/*"
                (change)="proccessFile(photoURL)"
                />
                <label for="photoURL"><i class="_aah_ icofont icofont-camera" style="font-size: 22px; color: #666; top: -1px; left: 4px;"></i></label>
            </div>
            <div class="avatar-preview">
                <div class="img-preview-container">
                    <div 
                        
                        class="profile-user-img img-responsive img-circle"
                        [ngStyle]="{
                            'background-image': this.selectedFile ? 'url('+ this.selectedFile.src +')' : 'url('+ this.sampleProfilePic +')', 
                            'opacity': this.isLoading ? '0.5' : '1'
                        }"
                    >
                        <!-- Sinner -->
                            <ng-container *ngIf="this.isLoading">
                                <div class="spinner" style="margin-top: 2rem;">
                                    <div class="bar1"></div>
                                    <div class="bar2"></div>
                                    <div class="bar3"></div>
                                    <div class="bar4"></div>
                                    <div class="bar5"></div>
                                    <div class="bar6"></div>
                                    <div class="bar7"></div>
                                    <div class="bar8"></div>
                                    <div class="bar9"></div>
                                    <div class="bar10"></div>
                                    <div class="bar11"></div>
                                    <div class="bar12"></div>
                                </div>
                                <p style="font-weight: 900; color: #fff; font:inherit">Cargando</p>
                            </ng-container>
                        <!-- Sinner end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- input type file end -->

<!-- Button continue -->
    <span class="button-box" >
        <!-- <button class="btn" type="submit" [disabled]="!this.success"  name="submit" (click)="continueToNumberPhone()">
            <span>Continuar</span>
        </button> -->
        <button class="btn" type="submit" name="submit" (click)="continueToNumberPhone()">
            <span>Continuar</span>
        </button>
    </span>
<!-- Button continue end -->

<!-- Message success upload photo -->
    <ng-container *ngIf="this.success">
        <div class="input-box">
            <div class="box-title-happy" style="background-color: #fafafafa;font-size: 12px;">
                <span class="_span" style="color: #000;">
                    <i class="_aah_ icofont icofont-check" style="
                    color: #fff;
                    background: #2ece2e;
                    width: 20px;
                    height: 20px;
                    padding: 8px 0;
                    border-radius: 50%;"></i>
                    Imagen de perfil actualizada con éxito.</span>
            </div>
        </div>
    </ng-container>
<!-- Message success upload photo end -->

<p class="text"><a (click)="back()">Atrás</a></p>
