<div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="card-body socialprofile filter-cards-view">
        <div class="media">
            <img class="img-50 img-fluid m-r-20 rounded-circle" *ngIf="currentUser" src="{{ currentUser.profileImageURL }}" alt="" style="width: 50px !important; height: 50px !important;" />
            <div class="media-body">
                <a style="cursor: pointer;" class="font-primary f-w-600 cursor-pointer" *ngIf="currentUser" (click)="gotToProfile(currentUser)">{{ currentUser.username }}</a>
                <span class="d-block">
                    <span>
                        <span>{{ currentUser.fullname }}</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="social-btngroup d-flex">
            <button class="btn btn-primary text-center" type="button">Añadir historia</button>
            <button class="btn btn-secondary text-center ms-2" type="button">Editar</button>
        </div>
        <div class="likes-profile text-center">
            <h5>
                <span>
                    <span _ngcontent-gdu-c50="">
                        <svg style="margin: 1px 8px -5px 0px;" aria-label="Me gusta" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24" class="x1lliihq x1n2onr6">
                            <title _ngcontent-gdu-c50="">Me gusta</title>
                            <path
                                _ngcontent-gdu-c50=""
                                d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                            ></path>
                        </svg>
                    </span>
                    884
                </span>
            </h5>
        </div>
        <div class="text-center">35 nuevos Me gusta esta semana</div>
        <div class="customers text-center social-group">
            <ul>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/user/3.jpg" alt="" data-container="body" data-bs-toggle="tooltip" title="Johny Waston" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/user/5.jpg" alt="" data-container="body" data-bs-toggle="tooltip" title="Andew Jon" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/user/1.jpg" alt="" data-container="body" data-bs-toggle="tooltip" title="Comeren Diaz" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/user/2.png" alt="" data-container="body" data-bs-toggle="tooltip" title="Bucky Barnes" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/user/8.jpg" alt="" data-container="body" data-bs-toggle="tooltip" title="Jason Borne" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/user/11.png" alt="" data-container="body" data-bs-toggle="tooltip" title="Comeren Diaz" /></li>
            </ul>
        </div>
    </div>
</div>
