<div class="card-header" id="headingTwotwo">
  <h2 class="mb-0">
      <button class="btn btn-link btn-block text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwotwo" aria-expanded="true" aria-controls="collapseTwotwo">Contactos</button>
  </h2>
</div>
<div class="collapse show" id="collapseTwotwo" aria-labelledby="headingTwotwo" data-bs-parent="#accordionExample1">
  <div class="card-body social-status filter-cards-view">
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
      <div class="media">
        <div class="circle pulsate image-radius m-r-15"></div>
        <div class="media-body">
            <div class="block2 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
      </div>
  </div>
</div>
