<!-- <div class="card hovercard text-center">
    <div class="cardheader socialheader"></div>
    <div class="user-image">
        <div class="avatar"><img alt="" src="{{ user.profileImageURL }}" /></div>
        <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></div>
        <ul class="share-icons">
            <li><a class="social-icon bg-primary" href="#"><i class="fa fa-smile-o"></i></a></li>
            <li><a class="social-icon bg-secondary" href="#"><i class="fa fa-wechat"></i></a></li>
            <li><a class="social-icon bg-warning" href="#"><i class="fa fa-share-alt"></i></a></li>
        </ul>
    </div>
    <div class="info market-tabs p-0">
        <ul class="nav nav-tabs border-tab tabs-scoial" id="top-tab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="top-photos" data-bs-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a></li>
            <li  class="nav-item"><a class="nav-link" id="top-timeline" data-bs-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="true">Timeline</a></li>
            <li class="nav-item">
                <div class="user-designation"></div>
                <div class="title"><a target="_blank" href="">{{ user.username }}</a></div>
                <div class="desc mt-2">general manager</div>
            </li>
            <li class="nav-item"><a class="nav-link" id="top-about" data-bs-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a></li>
            
            <li class="nav-item"><a class="nav-link" id="top-friends" data-bs-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends</a></li>            
        </ul>
    </div>
</div> -->


    
    <div class="profile__profile" *ngIf="this.user">
        <div class="container d-flex align-items-center">
            <div class="profile__profile__logo">
                <img src="{{ this.user.profileImageURL }}" alt="Profile Image" />
            </div>
            <div class="profile__profile__details">
                <div class="profile__profile__details__userName">
                    <h4>{{ this.user.username }}</h4>
                    <!-- Button de Editar perfil o Seguir -->
                    <button> {{ followButtonText }} </button>
                    <button>
                        <svg aria-label="Options" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                            <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                            <path
                                d="M14.232 3.656a1.269 1.269 0 01-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 01-.796.66m-.001 16.688a1.269 1.269 0 01.796.66l.505.996h1.862l.505-.996a1.269 1.269 0 01.796-.66M3.656 9.768a1.269 1.269 0 01-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 01.66.796m16.688-.001a1.269 1.269 0 01.66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 01-.66-.796M7.678 4.522a1.269 1.269 0 01-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 01-.096 1.03m11.8 11.799a1.269 1.269 0 011.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 01.096-1.03m-14.956.001a1.269 1.269 0 01.096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 011.03.096m11.799-11.8a1.269 1.269 0 01-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 01-1.03-.096"
                                fill="none"
                                stroke="currentColor"
                                stroke-linejoin="round"
                                stroke-width="2"
                            ></path>
                        </svg>
                    </button>
                </div>
                <div class="profile__profile__details__follower my-3">
                    <span><b>{{ this.user.stats?.posts }}</b> posts</span>
                    <button><b>{{ this.user.stats?.followers }}</b> followers</button>
                    <button><b>{{ this.user.stats?.followings }}</b> followings</button>
                </div>
                <div class="profile__profile__details__displayName">
                    <h6>Descripción del perfil</h6>
                </div>
            </div>
        </div>
    </div>