article {
    width: 950px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
article>div {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin: 5px;
   width: 300px;
   height: 300px;
}
article>div img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1040px) {
    article {
        width: 755px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    article>div {
       display: flex;
       justify-content: flex-start;
       align-items: flex-start;
       margin: 5px;
       width: 235px;
       height: 235px;
    }
}

@media screen and (max-width: 600px) {
    article {
        min-width: 100vw;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    article>div {
        margin: 10px;
        width: 90vw;
        height: 90vw;
    }
}