<!-- <div class="profile__section__tab__tabcontent__container">
    <div class="profile__section__tab__tabcontent__container__image">
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
    </div>
    <div class="profile__section__tab__tabcontent__container__image">
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
    </div>
    <div class="profile__section__tab__tabcontent__container__image">
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
        <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid" />
    </div>
</div>
 -->

<!-- <div class="profile__section__tab__tabcontent__container">
    <div class="profile__section__tab__tabcontent__container__image">
        <ng-container *ngFor="let post of this.posts">
            <img src="{{ post.imageURL }}" class="img-fluid" />
        </ng-container>
    </div>
</div> -->


<article>
    <ng-container *ngFor="let post of this.posts">
    <div><img src="{{ post.imageURL }}"></div>
    <!-- <div><img src="https://images.unsplash.com/photo-1552253230-eb7a9b0481ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></div>
    <div><img src="https://images.unsplash.com/photo-1583112042152-c9323a32fa0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></div>
    <div><img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></div>
    <div><img src="https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div>
    <div><img src="https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></div> -->
    </ng-container>
</article>


