
<div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="card-body socialprofile filter-cards-view">
        <div class="media">
            <div class="circle pulsate image-radius m-r-15"></div>
            <div class="media-body">
                <div class="block2 pulsate"></div>
                <div class="block3 pulsate"></div>
            </div>
        </div>
        <div class="social-btngroup d-flex">
            <div class="block4 pulsate"></div>
            <div class="block4 pulsate ms-2"></div>
        </div>
        <div class="likes-profile d-flex-center">
            <div class="block5 pulsate"></div>
            <div class="block3 pulsate"></div>
        </div>
        <!-- <div class="customers text-center social-group">
            <ul>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/loader/image-user-loader.jpeg" alt="" data-container="body" data-bs-toggle="tooltip" title="Johny Waston" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/loader/image-user-loader.jpeg" alt="" data-container="body" data-bs-toggle="tooltip" title="Andew Jon" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/loader/image-user-loader.jpeg" alt="" data-container="body" data-bs-toggle="tooltip" title="Comeren Diaz" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/loader/image-user-loader.jpeg" alt="" data-container="body" data-bs-toggle="tooltip" title="Bucky Barnes" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/loader/image-user-loader.jpeg" alt="" data-container="body" data-bs-toggle="tooltip" title="Jason Borne" /></li>
                <li class="d-inline-block"><img class="img-40 rounded-circle" src="../assets/images/loader/image-user-loader.jpeg" alt="" data-container="body" data-bs-toggle="tooltip" title="Comeren Diaz" /></li>
            </ul>
        </div> -->
    </div>
</div>
