<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)" />
<!--------------- 
-  Container 
---------------->
<div class="container">
    <!------------ [ Spinner loadding  ] ---------------->
        <!-- <ng-container *ngIf="spinner | async">
            <app-spinner></app-spinner>
        </ng-container>  -->
    <!------------ [ Spinner loadding end ] ---------------->
   
    <!--------------- 
    -  Profile
    ---------------->
        <div class="user-profile social-app-profile profile">
            <!--------------- 
            -  Header
            ---------------->
                <div class="profile__profile">
                    <app-portada  [user]="user" [followButtonText]="followButtonText" ></app-portada>    
                </div>
            <!--------------- 
            -  Header end
            ---------------->

            <!------------------ 
            -  Boddy section
            ------------------->
                <div class="tab-content profile__section" id="top-tabContent">
                    <!------------ [ Tabs ] ---------------->
                        <div>
                            <app-tabs [user]="user"></app-tabs>    
                        </div>
                    <!------------ [ Tabs end ] --------------->

                   
                    <!------------ [ Post grid ] ---------------->
                        <!-- <div id="Posts" class="profile__section__tab__tabcontent" style="display: flex;justify-content: center;"> -->
                        <div id="Posts" class="profile__section__tab__tabcontent">
                            <!-- <app-profileposts *ngIf="this.posts.length > 0; else noPosts" [posts]="posts"></app-profileposts>
                            <ng-template #noPosts>
                                <app-emptyalert *ngIf="user"></app-emptyalert>    
                            </ng-template> -->
                            <app-profileposts *ngIf="this.posts.length > 0" [posts]="posts"></app-profileposts>
                           
                        </div>
                    
                        <div id="Videos" class="profile__section__tab__tabcontent"></div>
                        <div id="Saved" class="profile__section__tab__tabcontent"></div>
                        <div id="Tagged" class="profile__section__tab__tabcontent"></div>
                    <!------------ [ Post grid end ] ---------------->
                </div>
            <!------------------- 
            -  Boddy section end
            -------------------->
        </div>
    <!--------------- 
    -  Profile end
    ---------------->
</div>
<!--------------- 
-  Container end
---------------->

<div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <app-modalpostfullscreen></app-modalpostfullscreen>
</div>