<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)" />
<!------------------------ 
- Container all posts
------------------------->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-8">
      <ng-container *ngIf="spinner | async">
        <app-spinner></app-spinner>
      </ng-container> 
      <app-gallery *ngIf="posts.length > 0" [posts]="posts"></app-gallery>
    </div>
  </div>
</div>
<!------------------------ 
- Container all posts end
------------------------->