<!-- <div class="row"> -->
    <!-- <div class="col-sm-12"> -->
    <!-- <div class="col-xl-10 col-md-10 col-sm-10"> -->
        <!-- NG Container -->
        <!-- <ng-container  *ngFor="let post of posts; let l = count"> -->
            <!-- <div class="card"> -->
                <!-- <div class="card-body"> -->
                    <!-- <div class="new-users-social"> -->
                        <!-- <div class="media"> -->
                            <!-- <img class="rounded-circle image-radius m-r-15"  src="{{ post.ownerImageURL }}" alt="" /> -->
                            <!-- <div class="media-body"> -->
                                <!-- <h6 class="mb-0 f-w-700" (click)="gotoProfile(post)" >{{ post.ownerUsername }}</h6> -->
                                <!-- <p> {{ post.timestamp.toDate() | date: 'medium' }} </p> -->
                            <!-- </div> -->
                            <!-- <span class="pull-right mt-0"> -->
                                <!-- <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-more-vertical"
                                >
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg> -->
                            <!-- </span> -->
                        <!-- </div> -->
                    <!-- </div> -->

                    <!-- <img class="img-fluid" alt="" width="100%" src="{{ post.imageURL }}" /> -->

                    <!-- <div class="timeline-content"> -->
                        <!-- BOTONES DE LIKES -->
                            <!-- <div class="like-content pt-2">
                                <span><i class="fa fa-heart font-danger"></i></span>
                                <span class="pull-right comment-number">
                                    <span><i class="fa fa-bookmark-o me-0"></i></span>
                                </span>
                                <span class="comment-number px-2">
                                    <span><i class="fa fa-comment-o"></i></span>
                                </span>
                            </div> -->

                            <!-- <span> {{ post.likes }} Me gusta </span> -->

                        <!-- CONTENIDO DE PUBLICACIÓN -->
                            <!-- <p><b> {{ post.ownerUsername }} </b> {{ post.caption }}</p> -->
                            
                        <!-- LINK VER MÁS COMENTARIOS -->
                            <!-- <p>Ver los 2 comentarios</p> -->

                        <!-- COMENTARIOS -->
                            <!-- <div class="social-chat"> -->
                                <!-- <ng-container *ngIf="post.comments.length > 0; else empty">
                                    <ng-container *ngFor="let comment of post.comments; let i = index; count as total">
                                        <div class="your-msg">
                                            <div class="media">
                                                <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{{ url + 'users/get-image-user/' + comment.user.profile.image_header }}" />
                                                <div class="media-body">
                                                    <span class="f-w-600">
                                                        {{ comment.user.username }} <span>1 Year Ago <i class="fa fa-reply font-primary"></i></span>
                                                    </span>
                                                    <p>{{ comment.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                
                                <ng-template #empty>
                                    <ng-container>
                                        <div class="text-center text-secondary"><a>No hay comentarios de momento.</a></div>
                                    </ng-container>
                                </ng-template> -->
                              
                                <!-- <div class="other-msg">
                                    <div class="media">
                                        <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/2.png" />
                                        <div class="media-body">
                                            <span class="f-w-600">
                                                Alexendra Dhadio <span>1 Month Ago <i class="fa fa-reply font-primary"></i></span>
                                            </span>
                                            <p>yes, really very awesome car i see the features of this car in the official website of #Mercedes-Benz and really impressed :-)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="other-msg">
                                    <div class="media">
                                        <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/3.png" />
                                        <div class="media-body">
                                            <span class="f-w-600">
                                                Olivia Jon <span>15 Days Ago <i class="fa fa-reply font-primary"></i></span>
                                            </span>
                                            <p>i like lexus cars, lexus cars are most beautiful with the awesome features, but this car is really outstanding than lexus</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="your-msg">
                                    <div class="media">
                                        <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/1.jpg" />
                                        <div class="media-body">
                                            <span class="f-w-600">
                                                Issa Bell <span>1 Year Ago <i class="fa fa-reply font-primary"></i></span>
                                            </span>
                                            <p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="text-center"><a>Más comentarios</a></div> -->
                            <!-- </div> -->
                        <!-- / END COMENTARIOS -->

                        <!-- INPUT RESPONDER COMENTARIO -->
                            <!-- <div class="comments-box">
                                <div class="media">
                                    <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{{ post.ownerImageURL }}" />
                                    <div class="media-body">
                                        <div class="input-group text-box">
                                            <input class="form-control input-txt-bx" type="text" name="message-to-send" placeholder="Publica tu comentario" />
                                            <div class="input-group-append">
                                                <button class="btn btn-transparent" type="button"><i class="fa fa-smile-o"> </i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- / END INPUT  -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </ng-container> -->
        <!-- End NG Container -->
    <!-- </div> -->
<!-- </div> -->




<!-- Loader Posts -->


<div class="row">
    <div class="col-xl-10 col-md-10 col-sm-10">
        <!-- NG Container -->
        <ng-container *ngFor="let post of posts; let l = count">
            <div class="card card--skeleton" #ElementRefCard>
                <div class="card-body" #ElementRefCardBody>
                    <div class="new-users-social">
                        <div class="media">
                            <img class="rounded-circle image-radius m-r-15"  src="{{ post.ownerImageURL }}" alt="" />
                            <div class="media-body">
                                <h6 class="mb-0 f-w-700" (click)="gotoProfile(post)" >{{ post.ownerUsername }}</h6>
                                <p> {{ post.timestamp.toDate() | date: 'medium' }} </p>
                            </div>
                            <span class="pull-right mt-0">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-more-vertical"
                                >
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <img class="img-fluid" alt="" width="100%" src="{{ post.imageURL }}" />
                    <div class="timeline-content">

                        <!-- BOTONES DE LIKES -->
                            <div class="like-content pt-2">
                                <span><i class="fa fa-heart font-danger"></i></span>
                                <span class="pull-right comment-number">
                                    <span><i class="fa fa-bookmark-o me-0"></i></span>
                                </span>
                                <span class="comment-number px-2">
                                    <span><i class="fa fa-comment-o"></i></span>
                                </span>
                            </div>

                            <span> {{ post.likes }} Me gusta </span>

                        <!-- CONTENIDO DE PUBLICACIÓN -->
                            <p><b> {{ post.ownerUsername }} </b> {{ post.caption }}</p>
                            
                        <!-- LINK VER MÁS COMENTARIOS -->
                            <p>Ver los 2 comentarios</p>

                        <!-- COMENTARIOS -->
                            <div class="social-chat">
                            </div>
                        <!-- / END COMENTARIOS -->

                        <!-- INPUT RESPONDER COMENTARIO -->
                            <div class="comments-box">
                                <div class="media">
                                    <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{{ post.ownerImageURL }}" />
                                    <div class="media-body">
                                        <div class="input-group text-box">
                                            <input class="form-control input-txt-bx" type="text" name="message-to-send" placeholder="Publica tu comentario" />
                                            <div class="input-group-append">
                                                <button class="btn btn-transparent" type="button"><i class="fa fa-smile-o"> </i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- / END INPUT  -->
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- End NG Container -->
    </div>
</div>