<div class="input-box">
    <h2 class="_aahw">
        Añade tu fecha de nacimiento
    </h2>
    <p class="_aai1">
        Al registrarte, aceptas nuestras
    </p>
</div>

<div class="input-box" style="margin: 10px 40px 18px;">
    <button class="_acan _acap _acas _aj1-" type="button"><span class="_9zlu _aah_"></span>Iniciar sesión con Facebook</button>
</div>

<div class="formulario">
    <div class="div_nacimiento">
        <select class="input_textual dia_nacimiento" name="dia_nacimiento" #day>
            <ng-container *ngFor="let item of arr_day; let i = index">
                <option value="{{i}}" selected> {{ item }} </option>
            </ng-container>
        </select>

        <select class="input_textual mes_nacimiento" name="mes_nacimiento" #month>
            <ng-container *ngFor="let item of arr_month; let i = index">
                <option value="{{i}}" selected> {{ item }} </option>
            </ng-container>
        </select>

        <select class="input_textual anio_nacimiento" name="anio_nacimiento" #year (change)="onSelected(year.value)">
            <ng-container *ngFor="let item of arr_year">
                <option value="{{item}}" selected> {{ item }} </option>
            </ng-container>
        </select>

        <p class="_aai1">
            Es necesario que indice su fecha de nacimiento
        </p>
        <p class="_aai1">
            Indica tu fecha de nacimiento, aunque esta cuenta sea para un negocio, una mascota, etc.
        </p>
    </div>
</div>

<span class="button-box">
    <button class="btn" type="submit" [disabled]="btnState" name="submit" (click)="continueViewCodePhone(day.value, month.value, year.value)">
        <span>Continuar</span>
    </button>
</span>

<p class="text"><a (click)="back()">Atrás</a></p>
