
<!-- dialog -->
<div class="modal-dialog modal-dialog-centered ">

    <!-- content -->
        <div class="modal-content">

            <!------------- 
                header 
            -------------->
                <div class="modal-header" style="justify-content: center;">
                    <h6 id="myModalLabel" class="modal-title" style="font-weight: 600;">
                        Opciones de la publicación
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 8px; top: 17px;">
                        <i class="_aah_ icofont icofont-ui-close"></i>
                    </button>
                </div>
            <!------------- 
                header end
            -------------->

            <!----------
                body 
            ------------>
                <div class="modal-body" style="padding: 0;">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"style="font-size: 16px;"><i class="_aah_ icofont icofont-pencil-alt-5"></i>Editar publicación</h5>
                            <!-- <small>3 days ago</small> -->
                          </div>
                          <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                          <small>Donec id elit non mi porta.</small> -->
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"style="font-size: 16px;"><i class="_aah_ icofont icofont-calendar"></i>Editar fecha</h5>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"style="font-size: 16px;color: red;font-weight: 600;"><i class="_aah_ icofont icofont-trash" style="color: #6c757d !important;font-weight: 100;"></i>Mover a la papelera</h5>
                          </div>
                          <small class="text-muted" style="margin-left: 25px;" >Los elementos de la papelera de elimina despues de 30 días.</small>
                        </a>
                    </div>
                </div>
            <!----------
                body end
            ------------>

            <!------------
                footer 
            -------------->
                <!-- <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">
                        close
                    </button>
                    <button class="btn btn-default">
                        Default
                    </button>
                    <button class="btn btn-primary">
                        Primary
                    </button>
                </div>  -->
            <!------------
                footer end 
            -------------->
        </div>
    <!-- content end -->
</div>
<!-- dialog -->
