<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body text-center">
                <div class="user-image">
                    <div class="avatar">
                        <div>
                            <span style="border: 1px solid #000; border-radius: 50%; padding: 5px 10px 5px 10px;">
                                <svg _ngcontent-iyv-c62="" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon _ngcontent-iyv-c62="" points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                            </span>
                            
                        </div>
                        
                    </div>
                </div>
                <h4 class="text-center font-weight-bold pt-2"><strong>No hay publicaciones</strong></h4>
                <p class="text-center">Se el primero en publicar.</p>
            </div>
        </div>
    </div>
</div>