<div class="input-box">
  <h2 class="_aahw">Solo falta un paso</h2>
  <!-- <span class="text">Introduce el código de seis dígitos que hemos enviado al 605974436</span> -->
  <p class="_aai1">
    Introduce el código de seis dígitos que hemos enviado al <strong>605974436</strong> 
  </p>
  <input type="text" id="codePhone" aria-describedby="" placeholder="Código de confirmación" aria-required="true" maxlength="30" autocapitalize="off" autocorrect="off" name="codePhone" value="" #codePhone required />
</div>

<span class="button-box">
  <button class="btn" type="submit" name="submit" (click)="showToFeed(codePhone.value)">
      <span>Continuar</span>
  </button>
</span>

<p class="text"><a (click)="back()">Atrás</a></p>